.header-container {
  display: flex;
  align-items: center;
  
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  color: #212121;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}



.current {
  color: var(--accent-color);
  position: relative;
}

.current::after {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  background-color: var(--accent-color);
  left: 0;
  bottom: 0;
  border-radius: 2px;
}
.header-list {
  
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 88px;
    }
  
    @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: 93px;
     }
}

.header-list .header-item + .header-item {
 margin-left: 50px;
}

.header-contacts-icon {
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  fill: currentColor;
}

.header-link-adress {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--header-link-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.adress-list {
 
  display: none;
  
  @media screen and (min-width: 768px) {
    display: block;
    margin-left: auto;
    
    }
  @media screen and (min-width: 1200px) {
     display: flex;
     margin-left: auto;
     padding: 0;
     }
}



.adress-list .header-link-adress {
 @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 33px;
     }

}

.header-list .header-link {
  @media screen and (min-width: 768px) {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    }
     
  @media screen and (min-width: 1200px) {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
     }
}

.adress-list .item-adress + .item-adress {
 @media screen and (min-width: 768px) {
    margin: 10px 0px 0px 0px;
    }
 @media screen and (min-width: 1200px) {
    margin: 0px 0px 0px 50px;
      }
}

.mobile-menu {
  display: flex;
}

.menu-open-btn,  .menu-close-btn{
  display: block;
  margin-left: auto;
  
}

.menu-open-btn {
  fill: var(--text-color);
  border: #ffffff;
  background-color: #ffffff;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }

  @media screen and (min-width: 768px) {
    display: none;
    }
}





.menu-close-btn {
  margin-bottom: 8px;
  border: #ffffff;
  background-color: #ffffff;
  fill: var(--text-color);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
  
}

.mob-menu {
  position: fixed;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  padding-top: 21px;
  padding-bottom: 48px;
  
  z-index: 1;
  overflow: auto;
  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}



.mob-header-item  {
margin-bottom: 32px;

}

.mob-header-link {
  color: var(--text-color);
  font-size: 40px;
  line-height: calc(46 / 40);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}



.mob-link-adress-tel {
  font-size: 34px;
  line-height: calc(40 / 34);
  color: var(--accent-color);


}

.mob-link-adress {
  font-size: 24px;
  line-height: calc(28 / 24);
  color: #757575;
}

.mob-item-adress:first-child {
  margin-bottom: 32px;
}

.mob-menu-social-link {
  font-size: 18px;
  line-height: calc(22 / 18);
  color: var(--accent-color);
}

.mob-menu-social-item:not(:first-child) {
  margin-left: 10px;
}

.mob-menu-social-item {
  display: inline;
  border-left: 1px solid rgba(33, 33, 33, 0.2);
  padding: 0 2px 0 10px;
}

.mob-menu-social-item:first-child {
  border: none;
  padding: 0;
}

.masters-social-list-mob {
  display: flex;
}
